{% extends 'homepage.html' %}
{% block content %}
<body style="background-color:MediumSeaGreen">
<form method="POST">
    {% csrf_token %}
    <h3>Forecast in your location city:</h3>
        <table style="width:100%; height:100px">
            <colgroup>
                <col span="13" style="background-color: white">
            </colgroup>
            <tr style="text-align:center">
                <th>City</th>
                <th>Country</th>
                <th>Temp C</th>
                <th>Temp F</th>
                <th>Clouds %</th>
                <th>Wind km/h</th>
                <th>Wind miles/h</th>
                <th>Visibility km</th>
                <th>Visibility miles</th>
                <th>Barometer mb</th>
                <th>Humidity %</th>
                <th>Data</th>
            </tr>
            <tr style="text-align:center">
                <td>{{ data.name }}</td>
                <td width="180px">{{ data.country }}</td>
                <td>{{ data.temp_c }}</td>
                <td>{{ data.temp_f }}</td>
                <td>{{ data.clouds }}</td>
                <td>{{ data.wind_kmh }}</td>
                <td>{{ data.wind_mh }}</td>
                <td>{{ data.visibility_km }}</td>
                <td>{{ data.visibility_m }}</td>
                <td>{{ data.pressure }}</td>
                <td>{{ data.humidity }}</td>
                <td width="150px">{{ data.dt }}</td>
            </tr>
        </table>
        <h1></h1>
        <input type="text" name="city" size="30" required value="" placeholder="Enter city name">
        <h1></h1>
        <input type="submit" value="Search">
</form>
</body>
{% endblock %}